{% extends 'base.html.twig' %}

{% block title %}Akademos - MES{% endblock %}

{% block stylesheets %}
    <style>
        /*@media (max-width: 575px) {*/
        /*    .filter-dash-buttom{*/
        /*        width: 100%;*/
        /*    }*/
        /*}*/


        @media (min-width: 1200px) and (max-width: 1400px) {
            .c {
                min-width: 33.3% !important;
            }
        }

        @media (min-width: 992px) and (max-width: 1400px) {
            .p {
                min-width: 33.3% !important;
            }
        }

        .bg-blue {
            background-color: #0E375F !important;
        }

    </style>
    <link rel="stylesheet" href="https://www.bootstrapget.com/demos/bluedox-admin-dashboard/assets/css/main.min.css">
    <link rel="stylesheet" href="https://www.bootstrapget.com/demos/bluedox-admin-dashboard/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.bootstrapget.com/demos/bluedox-admin-dashboard/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">
{% endblock %}

{% block body %}
    <div class="">
        <div class="hero-header shade-primary">
            <div class="container-fluid">
                <!-- Row start -->
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-8 col-sm-9 col-10">
                        <div class="text-center">
                            {#                            <h2 class="text-white mb-3">What are you looking for?</h2>#}
                            {#                            <div class="input-group">#}
                            {#                                <input type="text" class="form-control form-control-lg" id="SearchData" placeholder="Search">#}
                            {#                                <button class="btn btn-success btn-lg" type="button">#}
                            {#                                    Search#}
                            {#                                </button>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
                <!-- Row end -->
            </div>
        </div>

        <div class="hero-body">
            <!-- Row start -->
            <div class="row ">
                <div class="col-xxl-2 col-lg-4 col-sm-4 col-12">
                    <a href="contacts.html" class="tile-link d-flex align-items-center flex-column text-center rounded-2">
                        <img src="assets/images/users.svg" class="img-3x m-auto mb-4" alt="Admin Dashboards">
                        <h5>Users</h5>
                        <p>Manage admin people</p>
                    </a>
                </div>

                <div class="col-xxl-2 col-lg-4 col-sm-4 col-12">
                    <a href="#" class="tile-link d-flex align-items-center flex-column text-center rounded-2">
                        <img src="assets/images/group.svg" class="img-3x m-auto mb-4" alt="Admin Dashboards">
                        <h5>Groups</h5>
                        <p>Create grouping lists</p>
                    </a>
                </div>
                <div class="col-xxl-2 col-lg-4 col-sm-4 col-12">
                    <a href="dashboard5.html" class="tile-link d-flex align-items-center flex-column text-center rounded-2">
                        <img src="assets/images/dashboard.svg" class="img-3x m-auto mb-4" alt="Admin Dashboards">
                        <h5>Dashboard</h5>
                        <p>Insights about company</p>
                    </a>
                </div>
                <div class="col-xxl-2 col-lg-3 col-sm-4 col-12">
                    <a href="#" class="tile-link d-flex align-items-center flex-column text-center rounded-2">
                        <img src="assets/images/devices.svg" class="img-3x m-auto mb-4" alt="Admin Dashboards">
                        <h5>Devices</h5>
                        <p>Secure data devices</p>
                    </a>
                </div>
                <div class="col-xxl-2 col-lg-3 col-sm-4 col-12">
                    <a href="#" class="tile-link d-flex align-items-center flex-column text-center rounded-2">
                        <img src="assets/images/apps.svg" class="img-3x m-auto mb-4" alt="Admin Dashboards">
                        <h5>Apps</h5>
                        <p>Manage app settings</p>
                    </a>
                </div>


            </div>
            <!-- Row end -->

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

    </script>

{% endblock %}

