<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview"
        role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item">
            <a href="{{ path('app_admin_home') }}"
               class="nav-link nav-link-menu  {% if 'app_admin_home' in app.request.get('_route') %} active {% endif %}">
                <i class="nav-icon fas fa-home"></i>
                <p>
                    Inicio
                </p>
            </a>
        </li>

        {% if hasRoles('ROLE_GEST_CONVENIO') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fa fa-globe"></i>
                    <p>
                        Instrumentos jurídicos
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ path('app_convenio_index') }}"
                           class="nav-link nav-link-menu">
                            <p>Instrumentos jurídicos</p>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if hasRoles('ROLE_GEST_TIPO') or hasRoles('ROLE_GEST_MODALIDAD') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Configuración
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if hasRoles('ROLE_GEST_MODALIDAD') %}
                        <li class="nav-item">
                            <a href="{{ path('app_modalidad_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Modalidad</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_GEST_TIPO') %}
                        <li class="nav-item">
                            <a href="{{ path('app_tipo_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Tipos</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>