<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview"
        role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


{#        {% if hasRoles('ROLE_HOME_ECONOMIA') %}#}
{#            <li class="nav-item">#}
{#                <a href="#"#}
{#                   class="nav-link nav-link-menu">#}
{#                    <i class="nav-icon fa fa-university"></i>#}
{#                    <p>#}
{#                        Economía#}
{#                        <i class="right fas fa-angle-left"></i>#}
{#                    </p>#}
{#                </a>#}
{#                <ul class="nav nav-treeview">#}
{#                    <li class="nav-item">#}
{#                        <a href="{{ path('app_institucion_index') }}"#}
{#                           class="nav-link nav-link-menu">#}
{#                            <p>IES</p>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#        {% endif %}#}
        {% if hasRoles('ROLE_GEST_CONCEPTO_GASTO')  %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Configuración
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if hasRoles('ROLE_GEST_CONCEPTO_GASTO') %}
                        <li class="nav-item">
                            <a href="{{ path('app_concepto_gasto_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Conceptos de gastos</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>