<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview"
        role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->





        <li class="nav-item">
            <a href="#"
               class="nav-link nav-link-menu">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Reporte 1
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
{#            <ul class="nav nav-treeview">#}
{#                <li class="nav-item">#}
{#                    <a href="{{ path('app_reporte_estado_plan_listar') }}"#}
{#                       class="nav-link nav-link-menu">#}
{#                        <p>Estado del plan</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="{{ path('app_reporte_custom') }}"#}
{#                       class="nav-link nav-link-menu">#}
{#                        <p>Reporte personalizado</p>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}

        </li>



    </ul>
</nav>