{{ include('modules/evaluacion/solicitud/detail.html.twig', { 'solicitud': solicitud }) }}

<div class="card-body">
    <div class="row">
        <div class="col-6">
            <h5 class="mb-0"><b>Informe de autoevaluación:</b> {{ solicitud.estadoInformeAutoevaluacion | default('') }}
            </h5>
        </div>
        <div class="col-6">
            <h5 class="mb-0"><b>Motivo del Rechazo del Informe de autoevaluación:</b> {{ solicitud.motivoRechazo | default('') }}
            </h5>
        </div>
    </div>
</div>